DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_NAME=postgres
DB_PASSWORD=postgres

TEST_DB_HOST=db_test
TEST_DB_PORT=5432
TEST_DB_USER=postgres
TEST_DB_NAME=postgres
TEST_DB_PASSWORD=postgres

REDIS_HOST=redis_cache
REDIS_PORT=6379
REDIS_PASSWORD=test12345
REDIS_EXPIRE_IN_SEC=3600

TEST_REDIS_HOST=redis_cache_test
TEST_REDIS_PORT=6379
TEST_REDIS_PASSWORD=test12345
TEST_REDIS_EXPIRE_IN_SEC=3600
